
/* CSS reset all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #00539f;
    /* text-shadow: 3px 3px 1px black; */
}

html {
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 15px;
    margin: 0;
    background-color: #00539f;
}

p,
li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 auto;
  text-align: justify;
  font-family: monospace;
}

body {
    width: 800px;
    background-color: #ff9500;
    border: 5px solid black;
    margin: 0 auto;
    padding: 20px;
    margin: 50px auto;
    /* to allows the height to grows with the content */
    min-height: 100vh;
}

img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

p *{
    text-decoration: underline;
}


/* css  */
/* span{
    background-color: yellow;
} */
strong
{
    color: rebeccapurple;
}
em{
    color: red;
}

/*  this applies to any first child element  of an article element*/
article :first-child
{
    text-decoration: underline;
}
/* could be done like this instead above */
/* article :first-child
{
    text-decoration: underline;
} */

/* this applies to every article whom is the first child of any other element */
article:first-child
{
    background-color: white
}

p.classSelector
{
    background-color: blue;
    color: white;
}
h3.classSelector
{
    background-color: aquamarine;
}

/* multiclass selector */
.notebox.warning{
    color: yellow;
}
.notebox.danger{
    color: red;
}
.notebox{
    text-decoration: solid;
}

article p:first-child
{
    font-size: 12px;
    font-weight: bold;
}

article p::first-line
{
    color: white;
}

/* child selector */
ul > li {
    color: blue;
    font-weight: bold;
}


/* combinators */

.combinators h2{
    color: white;
    font-size: 25px;
}

.combinators>p{
    color: rebeccapurple;
}

.combinators ul>li{
    border-bottom: 1px solid #00539f;
}

h2 + p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

 
